@import url('https://fonts.googleapis.com/css2?family=Dosis');

.mainBox {
	/* display: flex; */
	padding-top: 8vh;
	min-height: 100vh;
	background-color: #212121;
	align-items: center;
	text-align: center;
	color: #fff;
	width: 100vw;
}

.subBox {
	margin: auto;
	/* max-width: 350px; */
}

.companyName {
	font-size: 35px;
	font-family: 'Dosis';
	font-weight: 800;
}

.comingSoon {
	margin-top: 5vh;
	font-size: 40px;
	font-family: 'Dosis';
	font-weight: 700;
}
.timerBox {
	margin: auto;
	margin-top: 20vh;
	max-width: 600px;
}
.timerElement {
	font-size: 35px;
	font-family: 'Dosis';
	font-weight: 700;
	/* margin: 0 10px; */
	/* margin: 0 10px; */
}
