@import url('https://fonts.googleapis.com/css2?family=Raleway');

.mainBox {
	/* display: flex; */
	/* padding: 0 10px; */
	/* padding-top: 2vh; */
	min-height: 100vh;
	/* background-color: #000; */
	align-items: center;
	text-align: center;
	color: #424242;
	/* width: 100vw; */
}

.subBox {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 30px;
	margin: auto;
	background-color: #ffffff;
	margin-top: 2vh;
	margin-bottom: 2vh;
	max-width: 1200px;
}

.subBox > img {
	max-width: 250px;
	width: 35vw;
	margin: 3rem auto;
}

.companyName {
	margin-top: 2vh;
	font-size: 35px;
	font-family: 'Raleway';
	font-weight: 800;
	margin-bottom: 2vh;
}

.comingSoon {
	margin-top: 2vh;
	font-size: 20px;
	font-family: 'Raleway';
	font-weight: 700;
}
.timerBox {
	margin: auto;
	margin-top: 4vh;
	max-width: 600px;
}
.timerElement {
	font-size: 35px;
	font-family: 'Raleway';
	font-weight: 700;
	/* margin: 0 10px; */
	/* margin: 0 10px; */
}

.timerElementName {
	font-size: 22px;
}
.newsletter {
	font-size: 19px;
	font-family: 'Raleway';
	font-weight: 700;
}

.newsletter:first-of-type {
	/* margin-top: 8vh; */
	margin-bottom: 5px;
}

#error-alert {
	color: white;
	background-color: rgba(239, 103, 100, 1);
	border: none;
	font-size: 13px;
	padding: 0.75rem 1rem;
}
.input:focus {
	border: none !important;
	box-shadow: 0 0 0 0.1rem rgba(26, 38, 57, 0.4) !important;
	outline: none !important;
}

button:focus {
	border: none;
	box-shadow: none !important;
}

#error-success {
	color: white;
	background-color: rgba(129, 199, 132, 1);
	border: none;
	font-size: 13px;
}

@media screen and (max-width: 500px) {
	/* .mainBox {
		padding-top: 1vh;
	} */

	.subBox {
		margin-top: 1vh;
		box-shadow: none;
		background-color: transparent;
		padding: 0 10px;
	}
	.companyName {
		margin-top: 0;
		font-size: 28px;
	}
	/* .timerBox {
		
		margin-top: 5vh;
		
	} */

	.comingSoon {
		margin-top: 2vh;
		font-size: 18px;
		font-weight: 700;
	}

	.timerElement {
		font-size: 30px;
		font-weight: 600;
	}
	.timerElementName {
		font-size: 18px;
	}
	.newsletter {
		font-size: 16px;
	}
}

@media screen and (max-width: 360px) {
	.companyName {
		font-size: 26px;
	}

	/* .timerBox {
		
		margin-top: 5vh;
		
	} */

	.comingSoon {
		margin-top: 2vh;
		font-size: 16px;
		font-weight: 700;
	}

	.timerElement {
		font-size: 28px;
		font-weight: 600;
	}
	.timerElementName {
		font-size: 14px;
	}

	.newsletter {
		font-size: 14px;
	}
}
